body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a1a1a; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('imagenes/Gemini_Generated_Image_y33aq0y33aq0y33a.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Honk', sans-serif; 
}


.historia {
    background-color: rgba(44, 30, 20, 0.9);
    border: 4px double #d4af37; 
    padding: 3rem;
    width: 90%;
    max-width: 800px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); 
    text-align: center;
    color: #e0c9a6; 
}


.historia h1 {
    font-family: 'Honk', system-ui;
    font-size: 3.5rem; 
    margin-bottom: 2rem;
    letter-spacing: 2px;
    font-weight: 400; 
}


.historia p {
    font-size: 1.2rem;
    line-height: 1.8; 
    text-align: justify; 
    margin-bottom: 2rem;
}


.historia strong {
    color: #ff4500; 
    font-size: 1.3rem;
    text-shadow: 1px 1px 0 #000;
}


.btn-volver {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #8b0000; 
    padding: 10px 20px;
    border: 2px solid #fff;
    font-family: 'Pixelify Sans', sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
    margin-top: 20px;
}

.btn-volver:hover {
    background-color: #ff0000;
    box-shadow: 0 0 15px red;
    transform: scale(1.05);
}