:root {
    --fondo-principal: #2c241b;
    --fondo-tarjeta: #3e3226;
    --texto-principal: #f0e6d2;
    --acento: #dba159;
    --borde: #5c4a3a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(rgba(44, 30, 20, 0.8), rgba(44, 30, 20, 0.8)),url(imagenes/armeria.png);
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--texto-principal);
    line-height: 1.6;
    padding: 20px;
    text-align: center;
    
}

.titulo-pagina {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--acento);
    padding-bottom: 10px;
}

.titulo-pagina h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--acento);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.grid-objetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto 60px auto;
}

.tarjeta-objeto {
    background-color: var(--fondo-tarjeta);
    border: 1px solid var(--borde);
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.tarjeta-objeto:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    border-color: var(--acento);
}

.img-objeto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 2px solid #000;
    filter: sepia(30%);
}

.tarjeta-objeto h2 {
    color: var(--acento);
    margin-bottom: 10px;
    font-size: 1.5rem;
}



.btn-volver {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #8b0000; 
    padding: 10px 20px;
    border: 2px solid #fff;
    font-family: 'Pixelify Sans', sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
    margin-top: 20px;
}

.btn-volver:hover {
    background-color: #ff0000;
    box-shadow: 0 0 15px red;
    transform: scale(1.05);
}