* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #2c1e14; 
    background-image: 
    linear-gradient(rgba(44, 30, 20, 0.8), rgba(44, 30, 20, 0.8)),
    url('imagenes/portada.jpeg'); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.titulo {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.titulo h1 {
    color: #fcd144; 
    text-shadow: 4px 4px 0px #000; 
    font-size: 2.5rem;
    letter-spacing: 2px;
}


.contenedor-personajes {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;         
    gap: 40px;              
    width: 90%;
    max-width: 1200px;
    padding-bottom: 50px;
}


.tarjeta-personaje {
    background-color: #4e342e; 
    border: 4px solid #a67c52;  
    border-radius: 10px;
    padding: 20px;
    width: 250px; 
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}


.tarjeta-personaje:hover {
    transform: translateY(-10px); 
    box-shadow: 0px 0px 20px rgba(252, 209, 68, 0.6); 
    border-color: #fcd144;
}


.marco-foto {
    background-color: #000;
    border: 2px solid #fff;
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
}

.marco-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.tarjeta-personaje h3 {
    font-size: 1.5rem;
    text-shadow: 2px 2px 0 #000;
}


.ninja:hover {
    border-color: red;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.6);
}



.btn-volver {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #8b0000; 
    padding: 10px 20px;
    border: 2px solid #fff;
    font-family: 'Pixelify Sans', sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
    margin-top: 20px;
}

.btn-volver:hover {
    background-color: #ff0000;
    box-shadow: 0 0 15px red;
    transform: scale(1.05);
}


.nazi:hover{
    border-color:black;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1 0.6);
}